<div class="main-wrapper  orderitemscontracts">


    <h1 class=" animate__animated animate__fadeInDown animate__delay-0.2s">Contracts For Andres Rueda</h1>


    <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 orderitemscontracts ">
                <mat-form-field class="example-full-width animate__animated animate__fadeInLeft animate__delay-0.4s"
                    appearance="outline">
                    <span matPrefix> </span>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="filtrar($event)">
                    <mat-icon matSuffix>search</mat-icon>


                </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 orderitemscontracts highButton">
                <button mat-button
                    class="example-full-width buttonfilter  animate__animated animate__fadeInRight animate__delay-0.6s">
                    <mat-icon>tune</mat-icon>
                    <span>Filter</span>
                </button>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-8 orderitemscontracts  highButton">
                <button mat-button
                    class="example-full-width buttonhire  animate__animated animate__fadeInRight animate__delay-0.6s">
                    <mat-icon>add</mat-icon>
                    <span>New Hire</span>
                </button>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">

                <mat-form-field
                    class="example-full-width font-weight-bold animate__animated animate__fadeInUp animate__delay-1s"
                    appearance="outline">

                    <mat-label>Contractor name</mat-label>
                    <input matInput (keyup)="filtrar($event)">


                </mat-form-field>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <mat-form-field class="example-full-width animate__animated animate__fadeInUp animate__delay-1s"
                    appearance="outline">
                    <mat-label>Contract Type</mat-label>
                    <mat-select [formControl]="contractype">
                        <mat-option *ngFor="let contractype of contractTypeList" [value]="contractype">

                            {{contractype}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <mat-form-field appearance="outline"
                    class="example-full-width animate__animated animate__fadeInUp animate__delay-1s">
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-label>Create on</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>


                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">

                <mat-form-field class="example-full-width animate__animated animate__fadeInUp animate__delay-1s"
                    appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select [formControl]="status">
                        <mat-option *ngFor="let status of statusList" [value]="status">
                            {{status}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>

    </div>

<div class="">

    <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Contractor Name
            </mat-header-cell>
            <mat-card>
                
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Contractor Name</span>
                    <img mat-card-avatar class="example-header-image" alt="">
                    {{element.name}}
                </mat-cell>
            </mat-card>
        </ng-container>
        
        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">
                Type
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Type</span>
                {{element.type}}
            </mat-cell>
        </ng-container>
        
        <!-- Date  Column -->
        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startDate">
                Start Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Start Date</span>
                {{element.startDate}}
            </mat-cell>
        </ng-container>
        
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount">
                Amount
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Amount</span>
                {{element.amount}}
            </mat-cell>
        </ng-container>
        
        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
                Status
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Status</span>
                {{element.status}}
            </mat-cell>
        </ng-container>
        
        <!-- Actions Column -->
        <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
                Actions
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Actions</span>
                
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button wia menu">
                    <mat-icon class="dots">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>edit_document</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>draw</mat-icon>
                        <span>Sign</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>article</mat-icon>
                        <span>View Summary</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
                
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
        
    </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    
</div>

    <div class="chat">


        <button class="" mat-fab [matMenuTriggerFor]="menu" color="accent">
            <mat-icon class="iconMessage">message</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="above">
            <button mat-menu-item>Esto es un chat</button>

        </mat-menu>

    </div>




</div>